<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>servlets.HelloWorld</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FormServlet</servlet-name>
        <servlet-class>servlets.FormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FormServlet</servlet-name>
        <url-pattern>/formservlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckBoxServlet</servlet-name>
        <servlet-class>servlets.CheckBoxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckBoxServlet</servlet-name>
        <url-pattern>/checkbox</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReadParamsServlet</servlet-name>
        <servlet-class>servlets.ReadParamsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadParamsServlet</servlet-name>
        <url-pattern>/params</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DisplayHeaderServlet</servlet-name>
        <servlet-class>servlets.DisplayHeaderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayHeaderServlet</servlet-name>
        <url-pattern>/display</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RefreshServlet</servlet-name>
        <servlet-class>servlets.RefreshServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RefreshServlet</servlet-name>
        <url-pattern>/refresh</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowErrorServlet</servlet-name>
        <servlet-class>servlets.ShowErrorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowErrorServlet</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ErrorHandler</servlet-name>
        <servlet-class>errorhandlers.ErrorHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/errorhandler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FormCookiesServlet</servlet-name>
        <servlet-class>servlets.FormCookiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FormCookiesServlet</servlet-name>
        <url-pattern>/formcookies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteCookiesServlet</servlet-name>
        <servlet-class>servlets.DeleteCookiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCookiesServlet</servlet-name>
        <url-pattern>/deletecookies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReadCookiesServlet</servlet-name>
        <servlet-class>servlets.ReadCookiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadCookiesServlet</servlet-name>
        <url-pattern>/readcookies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SessionTrackServlet</servlet-name>
        <servlet-class>servlets.SessionTrackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionTrackServlet</servlet-name>
        <url-pattern>/sessiontrack</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/errorhandler</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type >
        <location>/errorhandler</location>
    </error-page>

    <filter>
        <filter-name>LogFilter</filter-name>
        <filter-class>filters.LogFilter</filter-class>
        <init-param>
            <param-name>test-param</param-name>
            <param-value>Initialization Parameter</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>